

<div id="mainDiv" class="container-fluid">
  <div id="modalDiv" class="container-fluid">
    <div id="title" class="container-fluid">
      <img src="..\assets\img\show.png">
      <h1 id="titleH">El Titiritero</h1>
    </div>
    <div id="descDiv" class="container-fluid">
      <h2 id="descH" *ngIf="userData; else loadingProfile">> {{ userData.username }}</h2>
      <ng-template #loadingProfile>> LOADING PROFILE...</ng-template>
    </div>

    <div id="inputs" class="container-fluid">
      <div id="dataDiv" class="container-fluid"> 
        <p id="tag">NAME:</p>
        <p id="data">{{ userData?.username }}</p>
        <p id="emailp">EMAIL:</p>
        <p id="data">{{ userData?.email }}</p>
      </div>
      <div id="subsDiv" class="container-fluid"> 
        <div>
          <button (click)="logOut()">Log Out</button>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- PREVIOUS DASHBOARD CODE  
    
    
    <main>
  <div>
    <h2>DASHBOARD FIREBASE AUTH + ANGULAR APP</h2>
  </div>

  <div>
    <button (click)="logOut()"
      >Log
      Out</button>
  </div>

  <div >
    <p >THANK YOU</p>
  </div>

</main> -->