<section class="bg-light dark-bg">
  <div class="d-flex flex-column align-items-center justify-content-center px-6 py-8 mx-auto h-md lg-py-0">
    <div class="w-100 bg-light rounded-lg shadow-sm border-dark mt-md max-w-md xl-p-0 dark-bg dark-border-dark">
      <div class="p-6 space-y-4 md-space-y-6 sm-p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-dark md-text-2xl dark-text">
          Sign in to your account
        </h1>
        <div class="space-y-4 md-space-y-6">
          <div>
            <label for="email" class="form-label mb-2 text-sm font-medium text-dark dark-text">Your email</label>
            <input type="email" name="email" id="email" #email
              class="form-control bg-light border border-dark text-dark sm-text-sm rounded-lg focus-ring-dark focus-border-dark block w-100 p-2.5 dark-bg dark-border-dark dark-placeholder-dark dark-text dark-focus-ring-blue dark-focus-border-blue"
              placeholder="example@email.com" required>
          </div>
          <div>
            <label for="password" class="form-label mb-2 text-sm font-medium text-dark dark-text">Password</label>
            <input type="password" name="password" id="password" placeholder="••••••••" #password
              class="form-control bg-light border border-dark text-dark sm-text-sm rounded-lg focus-ring-dark focus-border-dark block w-100 p-2.5 dark-bg dark-border-dark dark-placeholder-dark dark-text dark-focus-ring-blue dark-focus-border-blue"
              required>
          </div>

          <button type="click" (click)="logIn(email.value, password.value)"
            class="w-100 btn btn-primary btn-hover bg-primary hover-bg-primary-700 focus-ring-4 focus-outline-none focus-ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark-bg-primary-600 dark-hover-bg-primary-700 dark-focus-ring-primary-800">
            Sign in
          </button>

          <button type="click" (click)="logInWithGoogle()"
            class="d-flex items-center justify-content-center w-100 btn btn-light text-dark bg-light-100 hover-bg-light-300 focus-ring-4 focus-outline-none focus-ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark-bg-gray-50 dark-hover-bg-gray-100 dark-focus-bg-gray-100">
            <div class="w-10">
              <img class="w-6 h-6" src="https://www.svgrepo.com/show/475656/google-color.svg" loading="lazy"
                alt="google logo">
            </div>
            <span>Sign in with Google</span>
          </button>
          
          <p class="text-sm font-light text-dark dark-text">
            Don’t have an account yet?
            <a href="#" class="font-medium text-primary-600 hover-underline dark-text-primary-500"
              routerLink="/sign-up">Sign up</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>