


<div id="mainDiv" class="container-fluid">
  <div id="modalDiv" class="container-fluid">
      <div id="title" class="container-fluid">
          <img src="..\assets\img\show.png">
          <h1 id="titleH">El Titiritero</h1>
      </div>
      <div id="descDiv" class="container-fluid"><h2 id="descH">> LOGIN...</h2></div>
      
      <div id="inputs" class="container-fluid">
          <div id="emailDiv" class="container-fluid"> 
            <label for="email">Your email</label>
            <input type="email" name="email" id="email" #email
              placeholder="example@email.com" required></div>
          <div id="emailDiv" class="container-fluid"> 
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="••••••••" #password
              required></div>
           <div id="emailDiv" class="container-fluid"> 
            <button type="click" (click)="logIn(email.value, password.value)">
              Sign in
            </button>
            <p>
              Don’t have an account yet?
              <a href="#"
                routerLink="/sign-up">Sign up</a>
            </p></div>
      </div>




     
  </div>
</div>


<!-- 
  
  BASE WORKING LOGIN CODE
  
  <section>
  <div>
    <div>
      <div>
        <h1>
          Sign in to your account
        </h1>
        <div>
          <div>
            <label for="email">Your email</label>
            <input type="email" name="email" id="email" #email
              placeholder="example@email.com" required>
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="••••••••" #password
              required>
          </div>

          <button type="click" (click)="logIn(email.value, password.value)">
            Sign in
          </button>

          <button type="click" (click)="logInWithGoogle()">
            <div>
              <img src="https://www.svgrepo.com/show/475656/google-color.svg" loading="lazy"
                alt="google logo">
            </div>
            <span>Sign in with Google</span>
          </button>
          
          <p>
            Don’t have an account yet?
            <a href="#"
              routerLink="/sign-up">Sign up</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->
