/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'vcr';
    src: url('assets/fonts/better-vcr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'vcr';
    src: url('assets/fonts/better-vcr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  #bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }

 body {
    background-color: #000000;
    background-image: url(../src/assets/img/Animation.gif) ;
}

html { background: #111;

    font-size: 1em;
    line-height: 1;
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    letter-spacing: 0.125em;
    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes textflicker {
from {
 text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
}
to {
 text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
}
}